<% layout('layouts/boilerplate.ejs')%>

   <div class="container d-flex justify-content-center align-items-center mt-5 pt-3">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="images/blogeek.jpg"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Change Password</h5>
                        <form action="/changePassword" method="POST" class="validated-form" novalidate>
                            
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required autofocus>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">New Password</label>
                                <input class="form-control" type="password" id="password" name="newpassword" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Confirm Password</label>
                                <input class="form-control" type="password" id="password" name="confirmpassword" required>
                                <!-- <div class="valid-feedback">
                                    Looks good!
                                </div> -->
                            </div>
                            <button class="btn btn-success btn-block">Change Password</button>
                        </form>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
 