<% layout('layouts/boilerplate.ejs')%>
<!--DIV1-->
<div class="ctm-div1">
  <div class="row">
    <img src="images/landing.png" class="col-lg-6 ctm-pic img-fluid">
    <div class="ctm-col col-lg-6">
      <p class="ctm-p1">Create your own blogs...</p>
      <p class="ctm-p1">Read what others are sharing....</p>
      <!-- <button class="btn btn-success btn-lg btn-block"  href="#" role="button">Join Today</button> -->
    </div>
  </div>  
</div>
<!--DIV1-->